body {
  overflow-x: hidden;
}

.navbar-brand {
  font-weight: bold;
}

.nav-item {
  padding: 10px;
}

.hero-wrap {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  z-index: 0;
  height: 650px;
}

.hero-wrap .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  opacity: .4;
  background: #000000;
}

.hero-wrap .slider-text h1 {
  font-size: 80px;
  color: #fff;
  line-height: 1.1;
  font-weight: 700;
  font-style: italic;
}

.btn.btn-primary {
  background: #b7472a !important;
  border: 1px solid #b7472a !important;
  color: #fff !important;
}

.btn.btn-white.btn-outline-white {
  border: 1px solid white !important;
  background: transparent !important;
  color: #fff !important;
}

.hero-wrap .slider-text h1 span {
  color: #b7472a;
  -webkit-text-fill-color: #fff;
  -webkit-text-stroke-width: 0px;
}

.hero-wrap .slider-text .text {
  padding: 160px 0;
}

.blog-entry a {
  text-decoration: none;
  color: gray;
  font-size: 18px;
  font-style: italic;
}

.intro {
  background: #b7472a;
  padding: 20px;
}

.intro .intro .icon {
  margin: 20px;
  font-size: 40px;
}

.intro h2 {
  font-size: 16px;
}

.heading-section {
  padding-left: 50px;
}

.heading-section .subheading {
  color: #a23f25;
  font-style: italic;
}

.heading-section .title {
  font-weight: bold;
  font-style: italic;
}

.heading-section span {
  font-weight: bold;
  font-style: italic;
}

.sort .img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
  position: relative;
  z-index: 0;
}

.sort .img .img:after {
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  content: '';
  border: 1px solid #b7472a;
  z-index: -1;
  border-radius: 50%;
}

.product .img:after {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  background: #000000;
  opacity: 0;
  border-radius: 4px;
}

.product .img {
  display: block;
  border-radius: 4px;
  height: 300px;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 0;
}

.img, .blog-img, .user-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.product .text {
  padding: 20px;
  position: relative;
}

.category {
  color: #b33819;
  font-style: italic;
}

.category h4 {
  font-size: 15px;
}

.product .text .price.price-sale {
  color: #cccccc;
}

.product .img .desc .meta-prod a {
  margin: 107px  1px;
  width: 60px;
  margin-left: 20px;
  height: 60px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.product .img .desc .meta-prod a span {
  color: #fff;
}

.blog-entry .img, .blog-entry .text {
  width: 50%;
  margin-bottom: 20px;
}

.footer {
  font-size: 16px;
  padding: 6em 0 0 0;
  background: #1a1a1a;
  color: rgba(255, 255, 255, 0.7);
}

.footer a {
  color: #fff;
}

.footer .footer-social li a {
  height: 50px;
  width: 50px;
  display: block;
  float: left;
  font-size: 20px;
}

.icon {
  width: 40px;
  font-size: 18px;
  padding-top: 2px;
  color: #fff;
}

.footer .footer-widget ul li {
  margin-bottom: 10px;
}

.footer a {
  text-decoration: none;
  padding: 10px;
}
/*# sourceMappingURL=style.css.map */